.App {
  text-align: center;
  font-family: sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  padding: 20px;
  color: white;
}

.divider {
  border: 0;
  height: 1px;
  background: #ddd;
  margin: 40px 0;
}